<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
  <h1>フィールド一覧</h1>

  <table class="table">
    <thead>
      <tr>
        <td>フィールド追加</td>
        <td>
          <% if current_user.name == "admin" %>
          <%= link_to "＋", new_field_path, method: :get, class: 'btn btn-sm btn-primary' %>
          <% end %>
        </td>
      </tr>
    </thead>

    <tbody>
      <% @fields.each do |field| %>
        <tr>
          <td><%= field.name %></td>
          <td>
            <% if current_user.name == "admin" %>
            <%= link_to "編集", edit_field_path(field.id), method: :get, class: 'btn btn-sm btn-success' %>
            <%= link_to "削除", field_path(field.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-sm btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="field_area">

  </div>

</div>